@font-face {
	font-family: 'Quantify';
	src: url('http://calebhayashida.com/media/fonts/quantify_boldv2-6.ttf');
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.icon {
  height: 20px;
}

/*.pull-right {*/
  /*position: absolute;*/
  /*right: 100px;*/
/*}*/

.quantify { 
	font-family: 'Quantify', serif; 
}

.main-header {
	/*font-size:80px;*/
}

#main {
	padding-top:1%;
}
