@font-face {
	font-family: 'Quantify';
	src: url('http://calebhayashida.com/media/fonts/quantify_boldv2-6.ttf');
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.quantify { 
	font-family: 'Quantify', serif; 
}

.main-header {
	font-size:80px;
}

#main {
	padding-top:6%;
}
