@font-face {
	font-family: 'Quantify';
	src: url('http://calebhayashida.com/media/fonts/quantify_boldv2-6.ttf');
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.icon {
  height: 20px;
}

.quantify { 
	font-family: 'Quantify', serif; 
}

#main {
	padding-top:1%;
}

.portfolio-img {
  max-width: 400px;
}
