@font-face {
  font-family: 'Quantify';
  src: url('http://calebhayashida.com/static/fonts/quantify_boldv2-6.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('http://calebhayashida.com/static/fonts/HELR45W.ttf');
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.helvetica {
  font-family: 'Helvetica', sans-serif;
}

.icon {
  height: 20px;
}

.quantify { 
	font-family: 'Quantify', serif; 
}

#main {
	padding-top:1%;
}

.portfolio-img {
  max-width: 400px;
}

.main-text-stretch {
  letter-spacing: 1px;
}
.text-stretch {
  letter-spacing: 4px;
}
