<!DOCTYPE html>
<html>

<head>
  <title>Caleb Hayashida - {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="/static/fonts/HELR45W.ttf" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body class="raleway main-text-stretch">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-stretch" href="/">Caleb Hayashida</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% block contact_active %}{% endblock %}" href="/contact">Contact</a>
        <a class="nav-item nav-link {% block coolstuff_active %}{% endblock %}" href="/portfolio">Cool stuff I've done</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" target="_blank" href="http://github.com/santeyio">
          <img src="/static/img/github-mark-64px.png" class="icon">
        </a>
        <a class="nav-item nav-link" target="_blank" href="http://music.calebhayashida.com/index.php/albums/">
          <img src="/static/img/musical_note.ico" class="icon">
        </a>
        <a class="nav-item nav-link" target="_blank" href="http://hostilelegacy.com">
          <img src="/static/img/rss_feed_icon-64px.png" class="icon">
        </a>
      </div>
    </div>
  </nav>

<div id="home" class="container-fluid pt-5">
  {% block body %}
  {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script>
</script>

</body>

