{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
	<div class="row justify-content-center" id="main">
    <div class="col-md-6 mt-5">
      <h1 class="text-center">Caleb Hayashida</h1>
      <br/>
      <p>
      Hey there! I'm Caleb Hayashida. I'm a programmer and professional learner, and when I'm not programming for work or fun you'll most likely find me experimenting in the kitchen or writing, recording, and producing music. I also enjoy perfecting my tea brewing and appreciation skills, experiencing great beer and whiskey, traveling to new places and talking to interesting people. Of course I can't leave out my love of pipes, cigars, and reading: classical literature, philosophy, monastic literature, history, and fantasy (not an exhaustive list by any means). 
      </p>
    </div>
  </div>
{% endblock %}
