{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
	<div class="row justify-content-center" id="main">
    <div class="col-md-6 mt-5">
      <h1 class="text-stretch text-center">Caleb Hayashida</h1>
      <br/>
      <p>
      Hey there! 
      I'm Caleb Hayashida.
      </p>
      <p>
      I like code. Well, some code. If it has lots of tests, docstrings, is organized and 
      broken down into functions logically, is very DRY... well, then I like it. 
      I'm a staunch linux head, vim geek, and will spend 5 hours writing code to automate
      something that would take me 2 hours to do manually. Because I'm lazy like that.
      </p>
      <p>
      I have a slight obsession with pho and maintain a spreadsheet where I keep track of the many vietnamese
      noodle establishments I have patronized across the country.       If you didn't know, Taiwanese high mountain oolong tea is divine. Seriously.
      Speaking of divine drinks, when I first drank a can of Treehouse brewery's Julius IPA
      I couldn't stop grinning widely for nearly 15 minutes. You <b>need</b> to try yourself
      some Treehouse beer if you haven't.
      </p>
      <p>
      I own Taylor Swift's first four albums,
      fantasize about writing a piece of music as inpiring-tear-inducingly-awesome as Beethoven's 9th symphony,
      and play a lot of instruments. Mainly piano, guitar, and my voice with a wide smattering of other things.
      Sound engineering and mixing music in Pro Tools are also things I find much joy in.
      </p>
      <p>
      I've lived in LA, Boston, near Spokane, Hartford, Sliema Malta, and traveled 
      to many interesting places inbetween and beyond. 
      By far my favorite thing about traveling is the lovely and interesting people I've met on the road. 
      </p>
      <p>
      <em>Brothers Karamazov</em> by Dostoevsky is definitely one of the best books ever written,
      the Kingkiller Chronicles are wonderful, and my favorite author of all time is 
      George MacDonald (Phantastes, Lilith). Except now that I think about it Thomas
      Merton goes head to head with MacDonald; but I should probably stop talking about
      books because I might get a bit too worked up. 
      Maybe I'll go smoke my pipe and drink some scotch on the porch instead...
      </p>
      <br/>
      <p>
      I'd be super flattered if you were to check out the links to my github, blog, or music above. 
      </p>
    </div>
  </div>
{% endblock %}
