{% extends "base.html" %}

{% block title %} Portfolio {% endblock %}

{% block coolstuff_active %}active{% endblock %}

{% block body %}
	<div class="row justify-content-center mt-5" id="main">
    <h1>Cool stuff I've worked on</h1>
  </div>

  <br/>
  <hr/>
  <br/>
  (there's only two things here right now I know, I'm in the process of adding additional things. Check out my <a target="blank" href="http://github.com/santeyio">github</a> if you want to see more right now)
  <br/>
  <hr/>
  <br/>

  <div class="row justify-content-center" id="phantastes">
    <div class="col-md-4 text-center">
      <h1 class="">Phantastes Album</h1>
      <img class="img-fluid portfolio-img" src="/static/img/phantastes-cover.png"/>
    </div>
    <div class="col-md-8 align-self-center">
      <p>
        <h4>What</h4>
          This is the last album that I produced. It's a concept album
          based on one of my favorite books by author
          <a href="https://en.wikipedia.org/wiki/George_MacDonald">George MacDonald</a>.
          I play all the instruments, do all the singing, and mix all
          the music in Pro Tools. You can check it out on
          <a href="https://open.spotify.com/album/2eTC5GosiC9M9uOdUYRfw2">spotify</a>, 
          <a href="https://www.amazon.com/dp/B06XBGJPTC/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1488143587&sr=1-1-mp3-albums-bar-strip-0&keywords=caleb+hayashida">amazon</a>,
          <a href="https://itunes.apple.com/us/album/phantastes/id1209820121">itunes</a>, 
          or wherever you listen to music. 
          <br/><br/>
        <h4>Why</h4>
          <ul>
            <li>I wanted to create an album that flows together seamlessly 
              as a whole
            </li>
            <li>I wanted to create an album that tells a story. Narrative is something
              I've come to think is important to give music meaning and
              this was an experiment in giving music the context of a story.
            </li>
          </ul>
      </p>
    </div>
  </div>

  <br/>
  <hr/>
  <br/>

  <div class="row justify-content-center" id="spotifyvisual">
    <div class="col-md-4 text-center">
      <h1 class="">Spotify Lyrics Data Visualizations</h1>
      <img class="img-fluid portfolio-img" src="/static/img/spotify-visualizations.png"/>
    </div>
    <div class="col-md-8 align-self-center">
      <p>
        <h4>What</h4>
        This is a fun project I'm working on in django, vue, and the
        spotify API.
        It generates bubble charts that describe how often different
        words appear in the lyrics of songs from your spotify playlists.
        Check out the code on <a href="https://github.com/santeyio/spotifyvisual">github</a>
        and the live version <a href="http://spotifyvisual.calebhayashida.com/">here</a>.
        <br/><br/>
        <h4>Why</h4>
        <ul>
          <li>I wanted to check out <a href="https://vuejs.org/">vue</a>.
            The best (only?) way to learn a new technology is to use it.
            I now love vue. 
          </li>
          <li>
            I wanted to figure out how to run
            webpack and django side by side -- I'm still trying to figure out
            exactly how to set that up so that development and deployment
            is painlessly easy.
          </li>
          <li>I wanted to try doing an integration of the
            <a href="https://developer.spotify.com/web-api/">spotify API</a>
            in python. 
          </li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}
